

<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <h1>this is our post page! you can check posts from other students right here!</h1>
    <table>
        <tr>
            <th>pid</th>
            <th>content</th>
        </tr>

        {% for n in data1 %}
        <tr>
            <td>{{n[0]}}</td>
            <td>{{n[1]}}</td>

        </tr>

        {% endfor %}


    </table>

  

<p><a href="/">Go to the home page</a></p>


<br>

<h1>post your own events right now!</h1>
<br>

<form method="POST" action="/add_post">
<p>your sid(student id) is: </p> <input type="text" name="sid"> <p> content of your post is: </p> <input type="text" name="content"> <input type="submit" value="Add"> 

<br>

</form>

</body>


</html>