<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>welcome! this is our project webpage!</h1>

  <p>this is a social networking sites focus on offline</p>

  <br>

  <p>we have many users and they are:</p>
 

  <div>
    {% for n in data2 %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <br>
  <p>don't have a account? no worry! join us in a minute!</p>

  <br>
  <p><a href="login">Go to login page</a></p>


  <p><a href="post">Go to the post page</a></p>

  <form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form>

</body>


</html>
